.home {
    background-image: url("/images/assets/backgrounds/h_img.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
   color:white;
  justify-content: center;
  text-align: center;
  padding-top: 190px;
    }
.comment {
    font-size: small;
}
.mouseclick{
    padding-top: 118px;
}