.home {
    background-image: url("/images/assets/backgrounds/h_img.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
   color:white;
  justify-content: center;
  text-align: center;
  padding-top: 190px;
    }
.comment {
    font-size: small;
}
.mouseclick{
    padding-top: 118px;
}
.about-us {
    justify-content: center;
    text-align: center;
    margin-top: -10%;
}
.services{
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Services {
    text-align: center;
    padding-top: 100px;
    padding-left: 136px;
    padding-right: 50px;
    padding-bottom: 50px;
    color:white;
    height:50%;

}